@import url('https://fonts.googleapis.com/css2?family=Atma&family=Bubblegum+Sans&display=swap');
@import './variables.module';

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;

	font-size: 62.5%; // 10px
}

body {
	min-height: 100vh;

	color: $white;

	background: $bg;
	background: linear-gradient(104deg, $bg 14%, #1c130c 63%, #201f0e 100%);

	font-family: $font-primary;
	font-size: 1.8rem;
	line-height: 1.5;
	scroll-behavior: smooth;
	text-rendering: optimizespeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin-right: 1rem;
	margin-bottom: 1rem;
}
