@import '../../../styles/variables.module';

.button {
	width: 100%;
	margin: 1rem 0;
	padding: 1.5rem 2rem;

	cursor: pointer;

	transition: 0.2s ease;

	color: $white;
	border: 1px solid $green;
	background: none;

	font-size: 1.6rem;

	&:hover {
		color: $bg;
		background: $green;
	}

	&--red {
		border: 1px solid $red;

		&:hover {
			color: $white;
			background: $red;
		}
	}

	&--yellow {
		border: 1px solid $yellow;

		&:hover {
			color: $bg;
			background: $yellow;
		}
	}
}
