.stats {
	display: flex;
	flex-direction: column;

	margin-bottom: 2rem;

	span {
		color: #2aa3ae;
	}

	&--main {
		display: grid;
		grid-template-columns: 1fr 1fr;

		align-items: center;

		h3 {
			grid-column: 1 / -1;
		}
	}
}
